@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dongle:wght@300&display=swap');

:root{
  --red: #F23030;
  --blue: #267DFF;
  font-family:'Dongle', sans-serif;

}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
}
body {
  background-color: #000000;
  color: #fff;

}
main{
  padding-top: 45px;

  max-width: 340px;
  margin: 0 auto;
  text-align: center; 
}

button{
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text{
  width: auto;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 34px;
}

button.with-text svg{
  width: 36px;
  float:left;
  margin-right: 5px;

}

label{
  display:block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 40px;
}